[Unit]
Description=Renew Ent Challange TLS certificates
Wants=network-online.target
After=network-online.target nginx.service

[Service]
Type=oneshot
WorkingDirectory=/opt/ent-challange/example/vultr
ExecStart=/opt/ent-challange/example/vultr/scripts/renew-certificates.sh
